*.pyc
*.mo
*.css.map
.project
.pydevproject
.env/*
.idea/*
.sass-cache/*
media/compressed/
media/upload/
media/uploads/
media/cache/
/static/
src/
dev.cmd
npm-debug.log
env.cmd
wsgi.py
robots.txt
404.html
500.html
502.html
504.html

main/dev.py
media/css/.sass-cache
