{% load humanize %}

{% if error_text %}
    <h1 style="color: red;">{{ error_text }}</h1>
{% endif %}

<h1>Заказ номер: {{ order.id }}</h1>

<p><strong>Покупатель:</strong></p>
<p>
    Ф.И.О.: {{ order.full_name }}<br/>
    {% if order.company %}Компания: {{ order.company }}{% endif %}<br/>
    Email: {{ order.email }}<br/>
    Телефон: {{ order.phone }}
</p>

<p><strong>Даты размещения:</strong></p>
<p>
    Дата начала размещения: {{ order.date_start }}<br>
    Дата окончания размещения: {{ order.date_end }}
</p>

<p><strong>Список паспортов:</strong></p>
{% for order_item in order.orderitem_set.all %}
    <p>
        Паспорт: {{ order_item.passport.address.city }}, {{ order_item.passport_name }}<br/>
        Коэф. GRP: {{ order_item.grp }}<br/>
        Кол-во: {{ order_item.quantity }}
    </p>
{% endfor %}

<p>
    <a href="{{ domain }}{{ order.get_admin_url }}"><strong>Ссылка на заказ №{{ order.id }}</strong></a>
</p>