<h3>Файлы для скачивания</h3>
<p>В именах файлов, предназначенных для публикации на сайте, желательно использовать только латинские буквы, цифры, символ подчеркивания, дефис и точку.</p>

<!-- upload-file -->
<div class="row upload-file">
    <div class="col-xs-6 col-sm-6">
        <!-- upload-file-item -->
        <div class="media">
            <div class="media-left">
                <img class="media-object" src="/media/images/doc.png" alt="">
            </div>
            <div class="media-body">
                <a href="javascript:void(0);"><h4 class="media-heading">Документ MS Office</h4></a>
                <p class="text-uppercase">(doc, 9 КБ)</p>
            </div>
        </div>
        <!-- upload-file-item -->

        <!-- upload-file-item -->
        <div class="media">
            <div class="media-left">
                <img class="media-object" src="/media/images/pdf.png" alt="">
            </div>
            <div class="media-body">
                <a href="javascript:void(0);"><h4 class="media-heading">Документ Adobe Acrobat</h4></a>
                <p class="text-uppercase">(pdf, 9 КБ)</p>
            </div>
        </div>
        <!-- upload-file-item -->

        <!-- upload-file-item -->
        <div class="media">
            <div class="media-left">
                <img class="media-object" src="/media/images/xls.png" alt="">
            </div>
            <div class="media-body">
                <a href="javascript:void(0);"><h4 class="media-heading">Таблица MS Office</h4></a>
                <p class="text-uppercase">(xls, 9 КБ)</p>
            </div>
        </div>
        <!-- upload-file-item -->
    </div>

    <div class="col-xs-6 col-sm-6">
        <!-- upload-file-item -->
        <div class="media pull-right">
            <div class="media-left">
                <img class="media-object" src="/media/images/tiff.png" alt="">
            </div>
            <div class="media-body">
                <a href="javascript:void(0);"><h4 class="media-heading">TIF документ</h4></a>
                <p class="text-uppercase">(tif, 9 КБ)</p>
            </div>
        </div>
        <!-- upload-file-item -->

        <!-- upload-file-item -->
        <div class="media pull-right">
            <div class="media-left">
                <img class="media-object" src="/media/images/ppt.png" alt="">
            </div>
            <div class="media-body">
                <a href="javascript:void(0);"><h4 class="media-heading">Презентация MS Office</h4></a>
                <p class="text-uppercase">(ppt, 9 КБ)</p>
            </div>
        </div>
        <!-- upload-file-item -->

        <!-- upload-file-item -->
        <div class="media pull-right">
            <div class="media-left">
                <img class="media-object" src="/media/images/zip.png" alt="">
            </div>
            <div class="media-body">
                <a href="javascript:void(0);"><h4 class="media-heading">Файл архив</h4></a>
                <p class="text-uppercase">(zip, 9 КБ)</p>
            </div>
        </div>
        <!-- upload-file-item -->
    </div>
</div>
<!-- upload file -->