{% extends 'base.html' %}

{% block page-seo %}
    {% load seo_extras %}
    {% get_seo flatpage %}
{% endblock %}

{% block main-content %}
    <div class="row">
        

        <div class="col-xs-12 col-sm-8 col-md-9 tmce">
            <div class="row">
                <div class="col-xs-12 news-item tmce">
                    <h1 class="news-title">{{ item.title }}</h1>
                    <time class="date" datetime="{{ item.created_at|date:"Y-m-d" }}">{{ item.created_at|date:"d.m.Y" }}</time>
                    {% if item.got_image %}
                        <p><img class="news-item__image" src="{{ item.image.url }}" alt="{{ item.title }}"></p>
                    {% endif %}
                    <div class="text">{{ item.description|safe }}</div>

                    <a href="{% url "announce:announce-list" %}" class="btn btn-green btn-back">К списку акций</a>
                </div>
            </div>

        </div>

        {% include "templatetags/side_menu.html" %}
    </div>
    
{% endblock %}