<h1>Бухгалтерское сопровождение</h1>
<p>Оказание бухгалтерских услуг является приоритетным направлением нашей компании. Мы обладаем как необходимым опытом, так и новейшими технологиями и методиками в сфере бухгалтерского обслуживания. На данной странице мы постарались ответить на все вопросы, которые у вас могут возникнуть, если вы решите сделать выбор между главным бухгалтером в штате и аудиторской фирмой.</p>
<p>Однако если у Вас останутся вопросы, на которые здесь не оказалось ответов, Вы всегда можете позвонить нам и проконсультироваться, а еще лучше пригласить нашего специалиста к себе в офис. Мы с радостью приедем и не только расскажем о принципах аутсорсинга бухгалтерских услуг, но и проведем бесплатно экспресс-проверку состояния бухгалтерского учета вашей фирмы.</p>
<h2>Стоимость услуг</h2>
<p>Оказание бухгалтерских услуг является приоритетным направлением нашей компании. Мы обладаем как необходимым опытом, так и новейшими технологиями и методиками в сфере бухгалтерского обслуживания. На данной странице мы постарались ответить на все вопросы, которые у вас могут возникнуть, если вы решите сделать выбор между главным бухгалтером в штате и аудиторской фирмой. </p>
<table class="table text-center">
    <thead>
    <tr class="text-center">
        <th>Цена от 5 штук</th>
        <th class="th-border">Цена ящик</th>
        <th>Цена от 20 штук</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <!-- <td rowspan="2">1</td> -->
        <td>По запросу</td>
        <td>От 50 000</td>
        <td>По запросу</td>
    </tr>
    <tr>
        <td>Содержание ячейки в несколько строк для проверки внешнего вида</td>
        <td colspan="2">Временно не продаем</td>
    </tr>
    <tr>
        <td rowspan="2">Содержание ячейки</td>
        <td>Содержание ячейки</td>
        <td>Содержание ячейки</td>
    </tr>
    <tr>
        <td>Содержание ячейки</td>
        <td>Содержание ячейки</td>
    </tr>
    </tbody>
</table>
<p>Налоговый консультант — ведущий аудитор или юрист компании — предоставит Вам подробную информацию по ведению налогового учета, даст экспертную оценку документам налогоплательщика, разъяснит порядок обжалования действий налоговых органов и т.д.</p>

<div class="row blockquote">
    <div class="col-xs-1">
        <img src="/media/images/laquo.png" alt="">
    </div>
    <div class="col-xs-10">
        <p>Вы всегда можете позвонить нам и проконсультироваться, а еще лучше пригласить нашего специалиста к себе в офис. Мы с радостью приедем и не только расскажем о принципах аутсорсинга бухгалтерских услуг, но и проведем бесплатно экспресс-проверку состояния бухгалтерского учета вашей фирмы.</p>
    </div>
    <div class="col-xs-1 text-right">
        <img src="/media/images/raquo.png" alt="">
    </div>

</div>