{% load flatpages_extras %}

<!--div id="sticky_detect" class="main_menu-placeholder"></div-->
<div class="main_menu-wrapper__outer">
    <div id="sticky_menu" class="main_menu-wrapper">
        <div class="container">

                <nav class="main_menu js-main-menu-wrap">
                    {% get_top_menu page_url %}
                    {#  <li class="col-xs-12 col-sm-2 main_menu__item search"><a href="#"> <i class="fa fa-search"></i></a></li>#}
                </nav>
            
        </div>
    </div>
</div>